.carouselImage {  /*Behövdes för att göra så att carouselen såg någorlunda bra ut*/
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 40vh;
}

.DivImages {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

.verktygDiv, .newDiv {
    flex: 1 1 50%;
    height: 30vh;
    padding: 0 !important;
}

.verktygDiv {
    background-color: #5a495c;
}

.newDiv {
    background-color: #2d2a30;
}

.bottomDiv {
    background-color: #282029;
    padding: 0;
    margin: 0;
    flex: 1 1 50%;
    height: 30vh;
}

.Råd {
    background-color: white;
    padding: 0;
    margin: 0;
    flex: 1 1 50%;
    height: 40vh;
}

.btn {
    font-size: calc(0.5em + 1vw) !important;
}

span {
    font-size: calc(1em + 1vw);
    margin: 1vw;
    text-decoration: none;
}

header {
    padding: 0;
    margin-bottom: 0;
}