.carouselImage {  /*Behövdes för att göra så att carouselen såg någorlunda bra ut peepoHappy */
    width: inherit;
    height: inherit;
    max-width: 100%;
    max-height: 50vh;
}

body
{
    overflow-y:hidden;
}

.carousel, .carousel-inner, .active, .carousel-item{
    height: 30vh !important;
    object-fit: cover !important;
}

.carousel-mitten-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: calc(0.5em + 1vw);
}

.carousel-caption-text {
    margin: 0;
    color: black;
    font-size: calc(1em + 0.5vw);
}

.DivImages {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

.verktygDiv, .newDiv {
    flex: 1 1 50%;
    height: 20vh;
    padding: 0 !important;
}

.verktygDiv {
    background-color: #5a495c;
}

.newDiv {
    background-color: #2d2a30;
}

.bottomDiv {
    background-color: #282029;
    padding: 0;
    margin: 0;
    flex: 1 1 50%;
    height: 24vh;
}

.Råd {
    background-color: white;
    padding: 0;
    margin: 0;
    flex: 1 1 50%;
    height: 40vh;
}

.OmOss
{
    padding: 0;
    margin: 0;
    flex: 1 1 50%;
    height: 70vh;
    background-color: navy;
}

.btn {
    font-size: calc(0.5em + 1vw) !important;
}

span {
    font-size: calc(1em + 1vw);
    margin: 1vw;
    text-decoration: none;
}

header {
    padding: 0;
    margin-bottom: 0;
}