<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>:P</title>
</head>
<body>
    <nav class="navbar py-2">
        <div class="container-fluid d-flex justify-content-between align-items-center">
          <button class="btn text-body" href="/"><b>Hälsokompassen</b></button>
    
          <div class="d-flex">
            <a href="/">
              <button class="btn text-body py-1 me-lg-3">Hem</button>
            </a>
            <a href="/Råd">
              <button class="btn text-body py-1 me-lg-3">Råd</button>
            </a>
            <a href="/Källor">
              <button class="btn text-body py-1 me-lg-3">Källor</button>
            </a>
          </div>
        </div>
      </nav>

  <div class="container my-5">
    <h1 class="text-center">Kost</h1>
    <p class="lead text-center">Här hittar du alla råd om <b>Kost</b></p>
  </div>

  <div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Få i dig nyttiga fetter</h5>
                    <p class="card-text">Fisk, rapsolja, olivolja och nötter är exempel på nyttiga fetter. I fisk finns till exempel nyttiga omega-3-fetter och viktiga vitaminer och mineraler. Omega-3-fetter kan minska risken för hjärt-kärlsjukdom och är viktiga för hjärnans utveckling och funktion.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Minska mängden rött kött och charkprodukter</h5>
                    <p class="card-text">För dig som äter kött är det bra att äta mindre av rött kött och chark. Endast en mindre del av köttet bör vara charkprodukter. Med rött kött menas kött från nöt, lamm, gris, ren och vilt. Charkprodukter är till exempel bacon, leverpastej och korv.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Begränsa mängden socker du äter</h5>
                    <p class="card-text">Försök att begränsa mängden godis, bakverk, glass och annat med mycket socker. Minska särskilt på söta drycker eftersom det är lätt att dricka stora mängder utan att känna sig mätt. Socker gör det lättare att bli överviktig på grund av den stora mängden kalorier.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
              <div class="card-body">
                  <h5 class="card-title">Salta inte för mycket</h5>
                  <p class="card-text">Välj mat med mindre salt så ofta du kan. Salt finns främst i färdig eller halvfärdig mat vi köper, till exempel bröd, ost, köttprodukter, charkprodukter och restaurangmat. Använd gärna mindre salt när du lagar egen mat. Välj salt med jod när du saltar. </p>
              </div>
          </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Öka protein intaget ifall du försöker bygga muskler</h5>
                <p class="card-text">Ifall du tränar regelbundet och försöker bygga muskler så är det viktigaste näringsämnet protein. Vid regelbunden träning så rekommenderas 1.4-2g protein/kg av kroppsvikt.</p>
            </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Ät mycket frukt och grönt</h5>
                <p class="card-text">Ät minst 500 gram om dagen av grönsaker, frukt och bär. Det motsvarar två frukter samt två nävar med grönsaker, rotfrukter och baljväxter. Välj gärna grova grönsaker som rotfrukter, vitkål, blomkål, broccoli, bönor och lök. Frukt och grönt innehåller mycket vitaminer, mineraler och fibrer. Att äta mycket grönsaker minskar risken för bland annat fetma, hjärt-kärlsjukdomar och vissa cancerformer. Fibrerna mättar och håller igång magen.</p>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center">
  <h2 class="text-center mt-4 mb-lg-5">Frågor och svar</h2>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center mt-3 mb-5">
  <div class="accordion w-75" id="accordionExample">
      <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Fråga1" aria-controls="Fråga1">
                  Hur mycket ska jag äta för att gå ner i vikt?
              </button>
          </h2>
          <div id="Fråga1" class="accordion-collapse collapse">
              <div class="accordion-body">
                  <p>För att gå ner i vikt så krävs ett kalori underskott. För att räkna ut hur mycket du ska äta så kan du använda dig av en BMR kalkylator(som även finns på vår webbsida) sedan så tar du bort 300-400 kalorier och detta blir då mängden kalorier du behöver äta för att gå ner i vikt.</p>
              </div>
          </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Fråga2" aria-controls="Fråga2">
                Hur mycket ska jag äta för att gå upp i vikt?
            </button>
        </h2>
        <div id="Fråga2" class="accordion-collapse collapse">
            <div class="accordion-body">
                <p>För att gå upp i vikt så krävs en kalori ökning. För att räkna ut hur mycket du ska äta så kan du använda dig av en BMR kalkylator(som även finns på vår webbsida) sedan lägger du till 200-400 kalorier och detta blir då mängden kalorier du behöver äta för att gå upp i vikt.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Fråga3" aria-controls="Fråga3">
            Är det viktigt att äta frukost?
          </button>
      </h2>
      <div id="Fråga3" class="accordion-collapse collapse">
          <div class="accordion-body">
              <p>Frukost kan hjälpa dig att kickstarta dagen, men det är inte nödvändigt för alla. Om du trivs med att äta tidigt, välj en proteinrik och näringsrik frukost. Annars kan periodisk fasta vara ett alternativ.</p>
          </div>
      </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Fråga4" aria-controls="Fråga4">
            Behöver jag undvika några näringsämnen för att gå ner i vikt?
        </button>
    </h2>
    <div id="Fråga4" class="accordion-collapse collapse">
        <div class="accordion-body">
            <p>Nej, kroppen behöver alla näringsämnen för att fungera korrekt. Balansera dina måltider med alla 3 näringsämnen för att få en så balanserad kost som möjligt.</p>
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Fråga5" aria-controls="Fråga5">
            Hur mycket kalorier innehåller varenda näringsämne?
        </button>
    </h2>
    <div id="Fråga5" class="accordion-collapse collapse">
        <div class="accordion-body">
            <p>1 gram protein innehåller 4 kalorier, 1 gram kolhydrater innehåller 4 kalorier och 1 gram fett innehåller 9 kalorier. Detta kan vara viktigt för dig som försöker gå upp/ner i vikt då du kan försöka minska kalorierna genom att minska intaget av t.ex fett.</p>
        </div>
    </div>
</div>
  </div>
</div>


</body>
</html>