<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>:P</title>
</head>
<body>
    <nav class="navbar py-2">
        <div class="container-fluid d-flex justify-content-between align-items-center">
          <button class="btn text-body" href="/"><b>Hälsokompassen</b></button>
    
          <div class="d-flex">
            <a href="/">
              <button class="btn text-body py-1 me-lg-3">Hem</button>
            </a>
            <a href="/Råd">
              <button class="btn text-body py-1 me-lg-3">Råd</button>
            </a>
            <a href="/Källor">
              <button class="btn text-body py-1 me-lg-3">Källor</button>
            </a>
          </div>
        </div>
      </nav>

  <div class="container my-5">
    <h1 class="text-center">Stress</h1>
    <p class="lead text-center">Här hittar du alla råd om <b>Stress</b></p>
  </div>

  <div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Villa och ta tid för återhämtning.</h5>
                    <p class="card-text">För att vila och återhämta dig så kan du t.ex vila, göra något som du tycker om, vara i naturen, meditera och umgås med personer du mår bra av att vara med.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Regelbunden fysisk aktivitet hjälper mot stress.</h5>
                    <p class="card-text">Att röra på sig regelbundet är en nyckel till att minska stress, genom regelbunden fysiskt aktivitet blir du dessutom starkare och orkar mer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Få tillräckligt med sömn.</h5>
                    <p class="card-text">En vuxen människa behöver sova ungefär 6 - 9 per dygn och när du sover bättre så klarar du lättare av stress och påfrestningar.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
              <div class="card-body">
                  <h5 class="card-title">Sätt gränser.</h5>
                  <p class="card-text">Öva på att sätta gränser och prioritera dina egna behov. Att säga nej till för många åtaganden kan minska känslan av överväldigande stress</p>
              </div>
          </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Försök ha en rimlig arbetsbörda</h5>
                <p class="card-text">När jobbet stressar, sätt gränser, delegera och be om hjälp. Ta hjälp med gränssättning. När jobbet stressar är det bäst att tala med chefen för att åstadkomma en förändring. Du kan också tala med dina kollegor, det ger möjlighet att dela erfarenheter och att stötta varandra.</p>
            </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Ställ rimliga krav på dig själv</h5>
                <p class="card-text">Arbeta med din egen inställning till de krav som ställs i livet och försök lägga upp din tillvaro efter de krav som du kan hantera.</p>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center">
  <h2 class="text-center mt-4 mb-lg-5">Frågor och svar</h2>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center mt-3 mb-5">
  <div class="accordion w-75" id="accordionExample">
      <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Fråga1" aria-controls="Fråga1">
                  Kan stress vara farligt?
              </button>
          </h2>
          <div id="Fråga1" class="accordion-collapse collapse">
              <div class="accordion-body">
                  <p>Stress är inte farligt i säg, men om du stressar mycket i långa perioder och inte får tid åt återhämtning så kan du börja må dåligt. Då kallas det för långvarig eller negativ stress. Några tecken på negativ stress är: Dålig sömn och ofta trött, svårt att slappna av, minskat intress för roliga saker, negativa tankar och känslor.</p>
              </div>
          </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Fråga2" aria-controls="Fråga2">
                Hur vet jag ifall jag är stressad?
            </button>
        </h2>
        <div id="Fråga2" class="accordion-collapse collapse">
            <div class="accordion-body">
                <p>Det finns många tecken på stress, några av de vanligaste är: Dålig sömn och ofta trött, svårt att slappna av, minskat intress för roliga saker, negativa tankar och känslor, svårigheter att koncentrera dig, dåligt minne, du behöver alkohol, nikotin, koffein eller sömnmedel för att orka med vardagen, du tycker att tiden inte räcker till.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Fråga3" aria-controls="Fråga3">
              Kan stress vara bra?
          </button>
      </h2>
      <div id="Fråga3" class="accordion-collapse collapse">
          <div class="accordion-body">
              <p>Så länge det finns tid för återhämtning där du får göra saker som får dig att må bra, så är stress bra och normalt. Det är när du stressar mycket och länge som du kan börja må dåligt, och till exempel känna dig orolig, irriterad eller rastlös.</p>
          </div>
      </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Fråga4" aria-controls="Fråga4">
            Är det normalt att känna stress sig stressad hela tiden?
        </button>
    </h2>
    <div id="Fråga4" class="accordion-collapse collapse">
        <div class="accordion-body">
            <p>Det är normalt att känna stress ibland, men att känna sig stressad hela tiden är inte bra och kommer att påverka dig negativt om kroppen inte får tillräckligt med tid att återhämta sig.</p>
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Fråga5" aria-controls="Fråga5">
            Varför blir människor stressade?
        </button>
    </h2>
    <div id="Fråga5" class="accordion-collapse collapse">
        <div class="accordion-body">
            <p>När människor blir stressade skickar hjärnan signaler till resten av kroppen. Då börjar hjärtat slå fortare, du andas snabbare och musklerna spänns. Det kan göra att du blir snabbare eller får extra energi en stund. Det kan också göra att det blir lättare att fokusera på en uppgift. Men det kan vara skadligt att vara i stressad för länge utan paus.</p>
        </div>
    </div>
</div>
  </div>
</div>


</body>
</html>