<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>:P</title>
</head>
<body>
    <nav class="navbar py-2">
        <div class="container-fluid d-flex justify-content-between align-items-center">
          <button class="btn text-body"><b>Hälsokompassen</b></button>
    
          <div class="d-flex">
            <a href="/">
              <button class="btn text-body py-1 me-lg-3">Hem</button>
            </a>
            <a href="/Råd">
              <button class="btn text-body py-1 me-lg-3">Råd</button>
            </a>
            <a href="/Källor">
              <button class="btn text-body py-1 me-lg-3">Källor</button>
            </a>
          </div>
        </div>
      </nav>

  <div class="container my-5">
    <h1 class="text-center">Träning</h1>
    <p class="lead text-center">Här hittar du alla råd om <b>Träning</b></p>
  </div>

  <div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Börja lätt och öka svårigheten med tiden</h5>
                    <p class="card-text">Börja med lätta övningar när du börjar att träna. Öka tyngden och svårigheten med tiden. Prata med en läkare eller fysioterapeut om du har någon sjukdom eller något besvär som gör att du känner dig osäker på hur du kan träna.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Minska tiden du är stilla</h5>
                    <p class="card-text">Minska tiden som du sitter helt stilla, till exempel framför datorn, teven eller med telefonen. Att sitta stilla länge är inte bra för kroppen. Du kan kompensera det till viss del genom att röra på dig så att din puls ökar.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Hitta en träningsform som du gillar</h5>
                    <p class="card-text">Om du känner att träningen är ett måste snarare än något du tycker om, kan det vara svårt att hålla motivationen uppe. Prova olika träningsformer för att hitta något som passar dig och som du ser fram emot att göra regelbundet.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
              <div class="card-body">
                  <h5 class="card-title">Glöm inte att vila</h5>
                  <p class="card-text">Ifall du tränar i stora mängder så är det väldigt viktigt med återhämtning. Vila ger musklerna tid att reparera sig och växa, samtidigt som det minskar risken för skador och överträning.</p>
              </div>
          </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Näring</h5>
                <p class="card-text">För att kroppen ska kunna återhämta sig så är det dessutom lika viktigt med rätt näring. Se till att få i dig rätt mängd fett, kolhydrater och protein för att låta kroppen återhämta sig och för att musklerna ska kunna växa.</p>
            </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Rätt teknik först</h5>
                <p class="card-text">Att använda rätt teknik i din träning är avgörande för att undvika skador och maximera dina resultat. Börja med lättare vikter och fokusera på att utföra rörelsen korrekt innan du ökar belastningen. Om du är osäker, be en tränare eller använd speglar för att kontrollera din form.</p>                
            </div>
        </div>
    </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center">
  <h2 class="text-center mt-4 mb-lg-5">Frågor och svar</h2>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center mt-3 mb-5">
  <div class="accordion w-75" id="accordionExample">
      <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Fråga1" aria-controls="Fråga1">
                 Hur börjar man träna?
              </button>
          </h2>
          <div id="Fråga1" class="accordion-collapse collapse">
              <div class="accordion-body">
                  <p>Det kan vara svårt att börja träna och göra träning till en vana, här kommer tips för att göra det enklare: avsätt tid för träning om du behöver det, träna tillsammans med någon och testa olika former av träning. </p>
              </div>
          </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Fråga2" aria-controls="Fråga2">
                Hur mycket ska man träna?
            </button>
        </h2>
        <div id="Fråga2" class="accordion-collapse collapse">
            <div class="accordion-body">
                <p>Vuxna bör varje vecka vara fysiskt aktiva på måttlig intensitet i minst 150–300 minuter eller minst 75–150 minuter av fysisk aktivitet på hög intensitet, eller en likvärdig kombination av måttlig och hög intensitet. Fysisk aktivitet på måttlig intensitet ger en ökad puls och andning, medan hög intensitet ger en markant ökning av puls och andning.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Fråga3" aria-controls="Fråga3">
              Vad finns det för fördelar med att träna regelbundet?
          </button>
      </h2>
      <div id="Fråga3" class="accordion-collapse collapse">
          <div class="accordion-body">
            <p>Att röra på sig är positivt för din hälsa, både fysiskt och psykiskt. Genom att röra dig regelbundet stärker du musklerna, vilka i sin tur skyddar skelettet och lederna. Du blir då mer rörlig i kroppen och får bättre balans. Risken för att du ska falla och skada dig blir då mindre. Hjärnan påverkas dessutom positivt, du blir gladare, du får bättre minne och du kommer att ha det lättare för dig att lära dig nya saker.</p>
          </div>
      </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Fråga4" aria-controls="Fråga4">
            Kan man träna fast man är lite sjuk?
        </button>
    </h2>
    <div id="Fråga4" class="accordion-collapse collapse">
        <div class="accordion-body">
            <p>För den som tränar regelbundet kan det kännas jobbigt att inte kunna träna när man är lite förkyld. Att träna när man är sjuk kan ibland orsaka hjärtmuskelinflammation. Det är en allvarlig sjukdom och det kan ta lång tid att bli frisk.

                Risken för att få hjärtmuskelinflammation är större i början av infektionen. Risken är också större ju kraftigare infektionen är. Du ska aldrig träna eller idrotta om du har feber.</p>
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Fråga5" aria-controls="Fråga5">
            Hur snabbt kan man se resultat av träning?
        </button>
    </h2>
    <div id="Fråga5" class="accordion-collapse collapse">
        <div class="accordion-body">
            <p>Det är svårt att säga, tränar du regelbundet och får tillräckligt med återhämtning så kan du räkna med att se resultat efter några veckor(8-12). Det är viktigt att komma ihåg att alla är olika och att det kan ta längre tid för vissa att se resultat än för andra.</p>
        </div>
    </div>
</div>
  </div>
</div>


</body>
</html>